<a href="/login">Login</a>
<a href="/users">Sign Up</a>

<p>
<a href="/neigborhoods/1/listings">Manhattan</a><br>
<a href="/neigborhoods/2/listings">Brooklyn</a><br>
<a href="/neigborhoods/3/listings">Queens</a><br>
</p>

