<a href="/login">Login</a>
<a href="/users">Sign Up</a>

<p>
<<<<<<< HEAD
<a href="/neigborhoods/1">Manhattan</a><br>
<a href="/neigborhoods/2">Brooklyn</a><br>
<a href="/neigborhoods/3">Queens</a><br>
</p>
=======
<a href="/neigborhoods/1/listings">Manhattan</a><br>
<a href="/neigborhoods/2/listings">Brooklyn</a><br>
<a href="/neigborhoods/3/listings">Queens</a><br>
</p>
>>>>>>> 183203d6d4a1e628a02ea8b72b8b635d4bdfe5a8
