<!-- <a href="/login">Login</a>
<a href="/users">Sign Up</a>

<p>
<a href="/neigborhoods/listings/1">Manhattan</a><br>
<a href="/neigborhoods/listings/2">Brookklyn</a><br>
<a href="/neigborhoods/listings/3">Queens</a><br>
</p> -->


<%= @neigborhoods.each do |neigborhood| %>

<p><%= link_to neigborhood.name, ?? %></p>

<% end %>
